*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
 /* font-family: "Bodoni Moda", serif; */
/* popup1_css */
.popup1{
    background: #00000037;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup1_body{
max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.popup_1_content{
    background: #fff;
    border-radius: 15px;
    padding: 30px 30px;
    position: relative;
}
.popup1_btn_tab{
    display: flex;
    padding: 10px 15px;
    gap: 10px;
    justify-content: center;
    box-shadow: 0px 2px 10px 5px #00000017;
    border-radius: 50px;
}
.personal_btn,.biz_btn{
    flex: 0 0 auto;
    width: 50%;
}
.personal_btn button{
     font-family: "Montserrat", sans-serif;
     font-size: 16px;
     font-weight: 600;
     color: #393939;
     border: none;
     background: transparent;
     padding: 10px 20px;
     width: 100%;
     display: block;
     border-radius: 50px;
}
.personal_btn button.active{
     background: linear-gradient(90deg,rgba(27, 154, 204, 1) 0%, rgba(83, 93, 237, 1) 100%);
     color: #fff;
}
.biz_btn button{
     font-family: "Montserrat", sans-serif;
     font-size: 16px;
     font-weight: 600;
    color: #393939;
     border: none;
     background: transparent;
     padding: 10px 20px;
     width: 100%;
     display: block;
     border-radius: 50px;
}
.biz_btn button.active{
    background: linear-gradient(90deg,rgba(204, 154, 27, 1) 0%, rgba(237, 137, 83, 1) 100%);
    color: #fff;
}
.img_wrap_col{
    margin-right: -50px;
}
.popup_img_wrap{
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
}
.popup_img_wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popup_btn_content{
    margin-top: 40px;
}
.popup_btn_content label{
    font-family: "Montserrat", sans-serif;
    color: #393939;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}
.popup_btn_content input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    border: 1px solid #00000017;
    
}
.popup_btn_content button{
     font-family: "Montserrat", sans-serif;
     font-size: 16px;
     font-weight: 600;
     color: #fff;
     border: none;
     background: #dedede;
     padding: 10px 20px;
     width: 100%;
     display: block;
     border-radius: 50px;
     margin-top: 20px;
}
.log_divider{
    margin: 20px 0;
    text-align: center;
}
.log_divider p{
  font-family: "Montserrat", sans-serif;
  color: #adadad;
  font-size: 13px;
  display: inline-block;
  position: relative;
  line-height: 1;
}
.log_divider p::before{
   content: '';
    width: 190px;
    height: 1px;
    background: #e1e1e1;
    position: absolute;
    left: -140%;
    top: 50%;
    transform: translateY(-50%);
}
.log_divider p::after{
   content: '';
    width: 190px;
    height: 1px;
    background: #e1e1e1;
    position: absolute;
    right: -140%;
    top: 50%;
    transform: translateY(-50%);
}
.popup1_close_btn button{
    position: absolute;
    right: -20px;
    top: -30px;
    font-family: "Montserrat", sans-serif;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 100%;
    color: #393939;
    font-weight: 700;
}
.contact_logo_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.msg_icon{
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #00000017;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .4s;
}
.msg_icon:hover{
    background: #e5f5ff;
}
.msg_icon i{
    line-height: 1;
}
.popup_btn_content .log_with_mob{
    background: transparent;
    border: none;
    color: rgb(0, 149, 255);
    font-family: "Montserrat", sans-serif; 
    font-weight: 600;
    padding: 0;
}
.content2_head{
  font-family: "Bodoni Moda", serif;  
  font-weight: 800;
  color: #393939;
  font-size: 30px;
}
.popup_btn_content .forgot_btn{
  background: transparent;
    border: none;
    color: rgb(255, 68, 0);
    font-family: "Montserrat", sans-serif; 
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    width: max-content;
    margin-top: 0px;
}
.content2_small_head{
    font-family: "Montserrat", sans-serif;
    color: #adadad;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}

/* popup1_css */

/* popup2_css */
.popup2{
    background: #00000037;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup2_body{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
   
}
.popup_2_content{
    background: #fff3f3;
    border-radius: 15px;
    padding: 40px 30px;
    position: relative;
    height: 70vh;
}
.popup2_head{
    font-family: "Bodoni Moda", serif;
    font-weight: 800;
    color: #393939;
    font-size: 30px;
    text-align: center;
}
.popup2_para{
    font-family: "Montserrat", sans-serif;
    color: #2c2c2c;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    text-align: center;
    max-width: 500px;
    margin: 0 auto 30px;
}
.popup_btn_content .popup2_backbtn{
    background: transparent;
    border: none;
    color: rgb(255, 68, 0);
    font-family: "Montserrat", sans-serif; 
    font-weight: 600;
    font-size: 15px;
    padding: 0;
    width: max-content;
    margin-top: 0px;
}
/* popup2_css */